- name: CREATE ARM Deployment PLAYBOOK
  hosts: localhost
  connection: local
  gather_facts: False
  vars:
    # Variables 'resgrp' and 'location' need to be provided at command line with arg --extra-vars
    templatekey: 'https://github.com/amitanilsinha/TestProject/blob/master/keyvault.json'
    paramskey: 'https://github.com/amitanilsinha/TestProject/blob/master/keyvaultparameters.json'
    
    
  - name: Deploy Iaas ARM template_1
    azure_rm_deployment:
        state: present
       resource_group_name: '{{ resgrp }}'
      # location seems to be not optional
        location: '{{ location }}'
        template_link: '{{ templateLink }}'
