- name: CREATE ARM Deployment PLAYBOOK
  hosts: localhost
  connection: local
  gather_facts: False
      
    #templatelink: 'https://github.com/amitanilsinha/TestProject/blob/master/azuredeploy.json'
    #parameterslink: 'https://github.com/amitanilsinha/TestProject/blob/master/azuredeploy.parameters.json'
   
tasks:
- name: Deploy ARM template
    azure_rm_deployment:
        state: present
        resource_group_name: "kunal_rg"
        location: "eastus"
        templatelink: 'https://github.com/amitanilsinha/TestProject/blob/master/azuredeploy.json'
       # parameters_link: '{{ paramsLink }}'
