---
- name: CREATE ARM Deployment PLAYBOOK
  hosts: localhost
  connection: local
  gather_facts: False
  vars:
    # Variables 'resgrp' and 'location' need to be provided at command line with arg --extra-vars
    templatekey: 'https://raw.githubusercontent.com/amitanilsinha/TestProject/blob/master/azuredeploy.json'
    paramsLink: 'https://raw.githubusercontent.com/amitanilsinha/TestProject/blob/master/azuredeploy.parameters.json'
   
  tasks:
  - name: Deploy ARM template
    azure_rm_deployment:
        state: present
        resource_group_name: 'KUNAL_NEW_RG'
        # location seems to be not optional
        location: 'Central India'
        template_link: '{{ templateLink }}'
        parameters_link: '{{ paramsLink }}'
    
    
    
