- name: CREATE iaas 
  hosts: localhost
  connection: local
  gather_facts: False
  vars:
    # Variables 'resgrp' and 'location' need to be provided at command line with arg --extra-vars
    templateLink: 'https://github.com/amitanilsinha/TestProject/blob/master/azuredeploy.parameters.json'
    # No parameters required for this template
    #paramsLink: 'https://github.com/amitanilsinha/TestProject/blob/master/azuredeploy.parameters.json'
   
  tasks:
  - name: Deploy ARM template
    azure_rm_deployment:
        state: present
        resource_group_name: '{{ resgrp }}'
        # location seems to be not optional
        location: "centralus"
        template_link: '{{ templateLink }}'
        #parameters_link: '{{ paramsLink }}'
